#scene
{
    width: 100%;
    height: 100%;
}

body {
    background:#fff;
    padding:0;
    margin:0;
    overflow:hidden;
    font-family:georgia;
    text-align:center;
}

#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #abc !important }
#stats #fps #fpsGraph { display: none }

#bimtime
{
    position: absolute; 
    top:0; 
    left: 0;
    font-size: 50px;
}